{% extends "base.html" %}

{% block app_content %}
        <main>
            <div class="container">
                <div class="about">
                    <div class="about__title">О клинике</div>
                    <div class="about__info">
                        <div class="about__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eligendi expedita, impedit necessitatibus repellat tempora voluptate. Aliquam at consequatur consequuntur deleniti dolor eaque facere libero quia reiciendis similique ullam, voluptas!</p>
                            <div class="about__list">
                                <ul>
                                    <li>Вилочковая железа( дети)</li>
                                    <li>Желчный пузырь с функцией сократимости</li>
                                    <li>Желчный пузырь</li>
                                    <li>Желудок ,кишечник</li>
                                    <li>Забрюшинные лимфатические сосуды</li>
                                    <li>Матка и придатки ( трансобдоминально и трансвагинально)</li>
                                    <li>Молочные железы с зонами лимфооттока</li>
                                    <li>Мочевой пузырь с определением остаточного объема</li>
                                </ul>
                            </div>
                        </div>
                        <div class="about__image"><img src="{{ url_for('static', filename='images/loadscreen.jpg') }}"></div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}