<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <title>Главная</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
    </head>

    <body><svg xmlns="http://www.w3.org/2000/svg" class="visually-hidden"></svg>
        <div class="header-top">
            <div class="container">
                <a href="https://yandex.ru/maps/-/CCfaML2a" target="_blank" class="header-top__address">
                    <svg id="icon-location" viewBox="0 0 18 21" width="100%" height="100%">
                        <path d="M9.1,0C9.1,0,9,0,9,0C4.1-0.1,0.1,3.8,0,8.6c0,0,0,0.1,0,0.1C0,15.2,9,21,9,21s9-5.8,9-12.3  C18,3.9,14,0,9.1,0z M9.1,11.8C9,11.8,9,11.8,9.1,11.8C7.3,11.8,5.9,10.3,6,8.6s1.5-3.1,3.2-3c1.7,0.1,3,1.4,3,3.1  C12.2,10.5,10.8,11.8,9.1,11.8z"></path>
                    </svg> г. Краснодар, ул. Лавочкина, д. 13</a>
                <div class="header-top__time">Медицинский центр
                    <b>ежедневно: с 08.00-21.00</b></div>
                <a href="tel:79284184128" class="header-top__link">
                    <img src="{{ url_for('static', filename='images/d-phone.svg') }}">
                    +7 928 418-41-28
                </a>
                <a href="mailto:mdecentrzabota@mail.ru" class="header-top__link">
                    <img src="{{ url_for('static', filename='images/d-mail.svg') }}">
                    mdecentrzabota@mail.ru
                </a>
            </div>
        </div>
{% block navbar %}
        <div class="header-nav">
            <div class="container">
                <a href="{{ url_for('main.index') }}" class="header-nav__logo">
                    <img src="{{ url_for('static', filename='images/d-logo.png') }}">
                </a>
                <div class="header-nav__menu">
                    <div class="header-nav__link"><a href="{{ url_for('main.about') }}">О нас</a>
                        <div class="header-nav__inner-list">
                            <a href="{{ url_for('main.staff') }}" class="header-nav__inner-link">Наши специалисты</a>
                            <a href="{{ url_for('main.license') }}" class="header-nav__inner-link">Гарантии и лицензии</a>
                            <a href="{{ url_for('main.confidential') }}" class="header-nav__inner-link">Политика конфиденциальности</a>
                            <a href="{{ url_for('main.control') }}" class="header-nav__inner-link">Адреса и телефоны контролирующих организаций</a>
                            <a href="{{ url_for('main.partners') }}" class="header-nav__inner-link">Партнеры</a></div>
                    </div>
                    <div class="header-nav__link"><a href="{{ url_for('main.services') }}">Услуги</a></div>
                    <div class="header-nav__link"><a href="{{ url_for('main.stock') }}">Акции</a></div>
                    <div class="header-nav__link"><a href="{{ url_for('main.contacts') }}">Контакты</a></div>
                    <div class="user-button">
                        <div class="user-button__control">
                            <a href="#" data-popup="login" class="user-button__link js-popups">Вход</a>
                            <a href="#" data-popup="registration" class="user-button__link js-popups">Регистрация</a>
                        </div><a href="#" class="header-nav__button">Запись на прием</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}
    {% block app_content %}{% endblock %}
{% endblock %}

{% block footer %}
    <footer>
            <div class="container">
                <div class="footer">
                    <div class="footer__logo">
                        <img src="{{ url_for('static', filename='images/d-logo.png') }}"></div>
                    <!--.footer__copyright-->
                    <!--    | © 2019 Забота-->
                    <!--.footer__phone--><a href="tel:79284184128" class="header-top__link">
                    <img src="{{ url_for('static', filename='images/d-phone.svg') }}">+7 928 418-41-28</a>
                    <ul class="footer__list">
                        <li><a href="{{ url_for('main.about') }}">О нас</a></li>
                        <li><a href="{{ url_for('main.services') }}">Услуги</a></li>
                        <li><a href="{{ url_for('main.stock') }}">Акции</a></li>
                        <li><a href="{{ url_for('main.contacts') }}">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </footer>
{% endblock %}

{% block popups %}
        <div id="login-popup" class="popup">
            <div class="popup__content">
                <div class="popup__close"></div>
                <div class="popup__title">Вход</div>
                <form class="popup__form" action="{{ url_for('main.index') }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                    <div class="popup__form-item">
                        {{ form.email.label }}<br>
                        {{ form.email(size=32) }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="popup__form-item">
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <br>
                    <div class="popup__form-item">{{ form.submit() }}</div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>

        <div id="registration-popup" class="popup">
            <div class="popup__content">
                <div class="popup__close"></div>
                <div class="popup__title">Регистрация</div>
                <form class="popup__form">
                    <div class="popup__form-item"><label>Имя</label><input type="text" id="registration-name"></div>
                    <div class="popup__form-item"><label>Фамилия</label><input type="text" id="registration-lastname"></div>
                    <div class="popup__form-item"><label>Телефон</label><input type="text" id="registration-phone" class="mask-phone"></div>
                    <div class="popup__form-item"><label>Почта</label><input type="email" id="registration-email"></div>
                    <div class="popup__form-item"><label>Пароль</label><input type="password" id="registration-password"></div>
                    <div class="popup__form-item"><button type="submit">Зарегистрироваться</button></div>
                </form>
            </div>
        </div>
{% endblock %}

{% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/vendor.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
    </body>

</html>
