{% extends "base.html" %}

{% block app_content %}
        <main>
            <div class="container">
                <div class="about">
                    <!-- TODO: вставить сюда нужный текст!!!!-->
                    <div class="about__title">Политика конфиденциальности</div>
                    <div class="about__info">
                        <div class="about__text about__text--full"><b>1. Общие положения</b>
                            <p>1.1. Политика в отношении обработки персональных данных (далее - Политика) направлена на защиту прав и свобод физических лиц, персональные данные которых обрабатывает ООО «МЦ «Забота» (далее - Оператор).</p>
                            <p>1.2. Политика разработана в соответствии с п. 2 ч. 1 ст. 18.1 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных» (далее - ФЗ «О персональных данных»).</p>
                            <p>1.3. Политика содержит сведения, подлежащие раскрытию в соответствии с ч. 1 ст. 14 ФЗ «О персональных данных», и является общедоступным документом.</p><b>2. Сведения об операторе</b>
                            <p>2.1. Оператор ведет свою деятельность по адресу Краснодарский край, г. Краснодар, ул. Тургенева 62.</p>
                            <p>2.2. Директор Атагян Гаянэ Суреновна (телефон +7 (861) 221-0333) назначен ответственным за организацию обработки персональных данных.</p>
                            <p>2.3. База данных информации, содержащей персональные данные граждан Российской Федерации, находится по адресу: г. Краснодар, ул. Тургенева 62.</p><b>3. Сведения об обработке персональных данных</b>
                            <p>3.1. Оператор обрабатывает персональные данные на законной и справедливой основе для выполнения возложенных законодательством функций, полномочий и обязанностей, осуществления прав и законных интересов Оператора, работников Оператора и третьих лиц.</p>
                            <p>3.2. Оператор получает персональные данные непосредственно у субъектов персональных данных.</p>
                            <p>3.3. Оператор обрабатывает персональные данные автоматизированным и неавтоматизированным способами, с использованием средств вычислительной техники и без использования таких средств.</p>
                            <p>3.4. Действия по обработке персональных данных включают сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ›, обезличивание, блокирование, удаление и уничтожение.</p>
                            <p>3.5. Базы данных информации, содержащей персональные данные граждан Российской Федерации, находятся на территории Российской Федерации.</p><b>4. Обработка персональных данных работников</b>
                            <p>4.1. Оператор обрабатывает персональные данные работников Оператора в рамках правоотношений, урегулированных Трудовым Кодексом Российской Федерации от 30 декабря 2001 г. № 197-ФЗ (далее - ТК РФ), в том числе главой 14 ТК РФ, касающейся защиты персональных данных работников.</p>
                            <p>4.2. Оператор обрабатывает персональные данные работников с целью выполнения трудовых договоров, соблюдения норм законодательства РФ, а также с целью:</p>
                            <div class="about__list">
                                <ul>
                                    <li>вести кадровый учёт;</li>
                                    <li>вести бухгалтерский учёт;</li>
                                    <li>осуществлять функции, полномочия и обязанности, возложенные законодательством РФ на Оператора, в том числе по предоставлению персональных данных в органы государственной власти, в Пенсионный фонд РФ, в Фонд социального страхования РФ, в Федеральный фонд обязательного медицинского страхования, а также в иные государственные органы;</li>
                                    <li>соблюдать нормы и требования по охране труда и обеспечения личной безопасности работников ООО «МЦ «В Надежных Руках», сохранности имущества;</li>
                                    <li>контролировать количество и качество выполняемой работы;</li>
                                    <li>предоставлять льготы и компенсации, предусмотренные законодательством РФ;</li>
                                    <li>открывать личные банковские счета работников ООО «МЦ «В Надежных Руках» для перечисления заработной платы;</li>
                                    <li>страховать по программам добровольного медицинского страхования;</li>
                                    <li>перечислять страховые взносы в негосударственные пенсионные фонды;</li>
                                    <li>обеспечивать пропускной режим на территорию Оператора;</li>
                                    <li>организовывать обучение работников ООО «МЦ «В Надежных Руках»;</li>
                                    <li>публиковать на сайте, во внутренних справочниках, адресных книгах организации;</li>
                                    <li>иные цели.</li>
                                </ul>
                            </div>
                            <p>4.3. Оператор не принимает решения, затрагивающие интересы работников, основываясь на их персональных данных, полученных электронным образом или исключительно в результате автоматизированной обработки.</p>
                            <p>4.4. Оператор защищает персональные данные работников за счет собственных средств в порядке, установленном ТК РФ, ФЗ «О персональных данных» и иными федеральными законами.</p>
                            <p>4.5. Оператор знакомит работников и их представителей под роспись с документами, устанавливающими порЯДок обработки персональных данных работников, а также об их правах и обязанностях в этой области.</p>
                            <p>4.6. Оператор разрешает доступ к персональным данным работников только допущенным лицам, которые имеют право получать только те данные, которые необходимы для выполнения их функций.</p>
                            <p>4.7. Оператор получает все персональные данные работников у них самих. Если данные работника возможно получить только у третьей стороны, Оператор заранее уведомляет об этом работника и получает его письменное согласие. Оператор сообщает работнику о целях, источниках, способах получения, а также о характере подлежащих получению данных и последствиях отказа работника дать письменное согласие на их получение.</p>
                            <p>4.8. Оператор обрабатывает персональные данные работников с их письменного согласия, предоставляемого на срок действия трудового договора.</p>
                            <p>4.9. Оператор обрабатывает персональные данные работников в течение срока действия трудового договора. Оператор обрабатывает персональные данные уволенных работников в течение срока, установленного п. 5 ч. 3 ст. 24 части первой Налогового Кодекса Российской Федерации от 31 июля 1998 г. № 146-ФЗ, ч. 1 ст. 29 Федерального закона «О бухгалтерском учёте» от 6 декабря 2011 г. № 402-ФЗ и иными нормативными правовыми актами.</p>
                            <p>4.10. Оператор может обрабатывать специальные категории персональных данных работников (сведений о состоянии здоровья, относящихся к вопросу о возможности выполнения ими трудовых функций) на основании п. 2.3 ч. 2 ст. 10 ФЗ «О персональных данных».</p>
                            <p>4.11. Оператор не обрабатывает биометрические персональные данные работников.</p>
                            <p>4.12. Оператор не получает данные о членстве работников в общественных объединениях или их профсоюзной деятельности, за исключением случаев, предусмотренных ТК РФ или иными федеральными законами.</p>
                            <p>4.13. Оператор обрабатывает следующие персональные данные работников:</p>
                            <div class="about__list">
                                <ul>
                                    <li>Фамилия, имя, отчество;</li>
                                    <li>Тип, серия и номер документа, удостоверяющего личность;</li>
                                    <li>Дата выдачи документа, удостоверяющего личность, и информация о выдавшем его органе;</li>
                                    <li>Год рождения;</li>
                                    <li>Месяц рождения;</li>
                                    <li>Дата рождения;</li>
                                    <li>Место рождения;</li>
                                    <li>Адрес;</li>
                                    <li>Номер контактного телефона;</li>
                                    <li>Адрес электронной почты;</li>
                                    <li>Идентификационный номер налогоплательщика;</li>
                                    <li>Номер страхового свидетельства государственного пенсионного страхования;</li>
                                    <li>Состояние здоровья;</li>
                                    <li>Фотография;</li>
                                    <li>Образование;</li>
                                    <li>Профессия;</li>
                                    <li>Доходы;</li>
                                    <li>Выход на пенсию;</li>
                                    <li>Должность;</li>
                                    <li>Табельный номер;</li>
                                    <li>Трудовой стаж;</li>
                                    <li>Учёная степень, звание;</li>
                                    <li>Научно-педагогический стаж;</li>
                                    <li>Сведения о воинском учёте;</li>
                                    <li>Данные о социальных льготах;</li>
                                    <li>Семейное положение;</li>
                                    <li>Сведения о пребывании за границей;</li>
                                    <li>Национальная принадлежность;</li>
                                    <li>Данные о зрении;</li>
                                    <li>Временная нетрудоспособность;</li>
                                    <li>Имущественное положение;</li>
                                    <li>Социальное положение;</li>
                                    <li>Данные полиса ОМС;</li>
                                    <li>Состояние интимной жизни;</li>
                                    <li>Сведения об оказанных услугах;</li>
                                    <li>Лекарственный препарат, изделие;</li>
                                    <li>Сведения о приёме лекарственного препарата, применении изделия;</li>
                                    <li>Расовая принадлежность;</li>
                                    <li>Страховые взносы на ОПС;</li>
                                    <li>Страховые взносы на ОМС;</li>
                                    <li>Налоговые вычеты;</li>
                                    <li>Льготные выплаты;</li>
                                    <li>Дополнительные страховые взносы на накопительную часть пенсии.</li>
                                </ul>
                            </div>
                            <p>4.14. Оператор не сообщает третьей стороне персональные данные работника без его письменного согласия, кроме случаев, когда это необходимо для предупреждения угрозы жизни и здоровью работника, а также в других случаях, предусмотренных ТК РФ, ФЗ «О персональных данных» или иными федеральными законами.</p>
                            <p>4.15. Оператор не сообщает персональные данные работника в коммерческих целях без его письменного согласия.</p>
                            <p>4.16. Оператор передаёт персональные данные работников их представителям в порядке, установленном ТК РФ, ФЗ «О персональных данных» и иными федеральными законами, и ограничивает эту информацию только теми данными, которые необходимы для выполнения представителями их функций.</p>
                            <p>4.17. Оператор предупреждает лиц, получающих персональные данные работника, что эти данные могут быть использованы только в целях, для которых они сообщены, требует от этих лиц подтверждения, что это правило соблюдено.</p>
                            <p>4.18. В порядке, установленном законодательством, и в соответствии со ст. 7 ФЗ «О персональных данных» для достижения целей обработки персональных данных и с согласия работников Оператор предоставляет персональные данные работников или поручает их обработку следующим лицам:</p>
                            <div class="about__list">
                                <ul>
                                    <li>Государственные органы (ПФР, ФНС, ФСС и др.);</li>
                                    <li>Банк (в рамках зарплатного проекта);</li>
                                    <li>Страховая компания (в рамках программы ДМС);</li>
                                    <li>Компании пассажирских грузоперевозок и гостиницы (в рамках организации командировок).</li>
                                </ul>
                            </div>
                            <p>4.19. Работник может получить свободный бесплатный доступ к информации о его персональных данных и об обработке этих данных. Работник может получить копию любой записи, содержащей его персональные данные, за исключением случаев, предусмотренных федеральным законом.</p>
                            <p>4.20. Работник может получить доступ к медицинской документации, отражающей состояние его здоровья, с помощью медицинского работника по его выбору.</p>
                            <p>4.21. Работник может определить представителя для защиты его персональных данных.</p>
                            <p>4.22. Работник может требовать исключить или исправить свои неверные или неполные персональные данные, а также данные, обработанные с нарушением требований ТК РФ, ФЗ «О персональных данных» или иного федерального закона. При отказе Оператора исключить или исправить персональные данные работника он может заявить в письменной форме о своем несогласии и обосновать такое несогласие. Работник может дополнить персональные данные оценочного характера заявлением, выражающим его собственную точку зрения.</p>
                            <p>4.23. Работник может требовать известить всех лиц, которым ранее были сообщены его неверные или неполные персональные данные, обо всех произведенных в них исключениях, исправлениях или дополнениях.</p>
                            <p>4.24. Работник может обжаловать в суд любые неправомерные действия или бездействие Оператора при обработке и защите его персональных данных.</p><b>5. Обработка персональных данных клиентов</b>
                            <p>5.1. Оператор обрабатывает персональные данные клиентов в рамках правоотношений с Оператором, урегулированных частью второй Гражданского Кодекса Российской Федерации от 26 января 1996 г. № 14-ФЗ, (далее - клиентов;</p>
                            <p>5.2. Оператор обрабатывает персональные данные клиентов в целях соблюдения норм законодательства РФ, а также с целью:</p>
                            <div class="about__list">
                                <ul>
                                    <li>заключать и выполнять обязательства по договорам с клиентами;</li>
                                    <li>осуществлять виды деятельности, предусмотренные учредительными документами ООО «МЦ «В Надежных Руках»;</li>
                                    <li>информировать о новых товарах, специальных акциях и предложениях;</li>
                                    <li>оформлять дисконтные карты;</li>
                                    <li>иные цели.</li>
                                </ul>
                            </div>
                            <p>5.3. Оператор обрабатывает персональные данные клиентов с их согласия, предоставляемого на срок действия заключенных с ними договоров. В случаях, предусмотренных ФЗ «О персональных данных», согласие предоставляется в письменном виде. В иных случаях согласие считается полученным при заключении договора или при совершении конклюдентных действий.</p>
                            <p>5.4. Оператор обрабатывает персональные данные клиентов в течение сроков действия заключенных с ними договоров. Оператор может обрабатывать персональные данные клиентов после окончания сроков действия заключенных с ними договоров в течение срока, установленного п. 5 ч. 3 ст. 24 части первой НК РФ‚ ч. 1 ст. 29 ФЗ «О бухгалтерском учёте» и иными нормативными правовыми актами.</p>
                            <p>5.5. Оператор обрабатывает специальные категории персональных данных несовершеннолетних клиентов с письменного согласия их законных представителей на основании ч. 1 ст. 9, п. 1 ч. 2 ст. 10 ФЗ «О персональных данных».</p>
                            <p>5.6. Оператор обрабатывает следующие персональные данные клиентов:</p>
                            <div class="about__list">
                                <ul>
                                    <li>Фамилия, имя, отчество;</li>
                                    <li>Тип, серия и номер документа, удостоверяющего личность;</li>
                                    <li>Дата выдачи документа, удостоверяющего личность, и информация о выдавшем его органе;</li>
                                    <li>Год рождения;</li>
                                    <li>Месяц рождения;</li>
                                    <li>Дата рождения;</li>
                                    <li>Место рождения;</li>
                                    <li>Адрес;</li>
                                    <li>Номер контактного телефона;</li>
                                    <li>Идентификационный номер налогоплательщика;</li>
                                    <li>Номер страхового свидетельства государственного пенсионного страхования;</li>
                                    <li>Состояние здоровья;</li>
                                    <li>Адрес электронной почты;</li>
                                    <li>Семейное положение;</li>
                                    <li>Данные о зрении;</li>
                                    <li>Образование;</li>
                                    <li>Профессия;</li>
                                    <li>Временная нетрудоспособность;</li>
                                    <li>Должность;</li>
                                    <li>Имущественное положение;</li>
                                    <li>Социальное положение;</li>
                                    <li>Данные полиса ОМС;</li>
                                    <li>Состояние интимной жизни;</li>
                                    <li>Сведения об оказанных услугах;</li>
                                    <li>Лекарственный препарат, изделие;</li>
                                    <li>Сведения о приёме лекарственного препарата, применении изделия;</li>
                                    <li>Национальная принадлежность;</li>
                                    <li>Расовая принадлежность;</li>
                                    <li>Фотография;</li>
                                    <li>Доходы;</li>
                                    <li>Страховые взносы на ОПС;</li>
                                    <li>Страховые взносы на ОМС;</li>
                                    <li>Налоговые вычеты;</li>
                                    <li>Льготные выплаты;</li>
                                    <li>Выход на пенсию;</li>
                                    <li>Дополнительные страховые взносы на накопительную часть пенсии;</li>
                                    <li>Табельный номер;</li>
                                    <li>Трудовой стаж;</li>
                                    <li>Учёная степень, звание;</li>
                                    <li>Научно-педагогический стаж;</li>
                                    <li>Сведения о воинском учёте.</li>
                                </ul>
                            </div>
                            <p>5.7. В целях выполнения договорных обязательств или требований федерального законодательства Оператор получает персональные данные от следующих третьих сторон: Страховые компании в рамках программы ДМС.</p><b>6. Сведения об обеспечении безопасности персональных данных</b>
                            <p>6.1. Оператор назначает ответственного за организацию обработки персональных данных для выполнения обязанностей, предусмотренных ФЗ «О персональных данных» и принятыми в соответствии с ним нормативными правовыми актами.</p>
                            <p>6.2. Оператор применяет комплекс правовых, организационных и технических мер по обеспечению безопасности персональных данных для обеспечения конфиденциальности персональных данных и их защиты от неправомерных действий:</p>
                            <div class="about__list">
                                <ul>
                                    <li>обеспечивает неограниченный доступ K Политике, копия которой размещена по адресу нахождения Оператора, а также может быть размещена на сайте Оператора (при его наличии);</li>
                                    <li>во исполнение Политики утверЖДает и приводит в действие документ «Положение об обработке персональных данных» (далее - Положение) и иные локальные акты;</li>
                                    <li>производит ознакомление работников с положениями законодательства о персональных данных, а также с Политикой и Положением;</li>
                                    <li>осуществляет допуск работников K персональным данным, обрабатываемым в информационной системе Оператора, а также к их материальным носителям только для выполнения трудовых обязанностей;</li>
                                    <li>устанавливает правила доступа к персональным данным, обрабатываемым в информационной системе Оператора, а также обеспечивает регистрацию и учёт всех действий с ними;</li>
                                    <li>производит оценку вреда, который может быть причинен субъектам персональных данных в случае нарушения ФЗ «О персональных данных»;</li>
                                    <li>производит определение угроз безопасности персональных данных при их обработке в информационной системе Оператора;</li>
                                    <li>применяет организационные и технические меры и использует средства защиты информации, необходимые для достижения установленного уровня защищенности персональных данных;</li>
                                    <li>осуществляет обнаружение фактов несанкционированного доступа к персональным данным и принимает меры по реагированию, включая восстановление персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;</li>
                                    <li>производит оценку эффективности принимаемых мер по обеспечению безопасности персональных данных до ввода в эксплуатацию информационной системы Оператора;</li>
                                    <li>осуществляет внутренний контроль соответствия обработки персональных данных ФЗ «О персональных данных», принятым в соответствии с ним нормативным правовым актам, требованиям к защите персональных данных, Политике, Положению и иным локальным актам, включающий контроль за принимаемыми мерами по обеспечению безопасности персональных данных и их уровня защищенности при обработке в информационной системе Оператора.</li>
                                </ul>
                            </div><b>7. Права субъектов персональных данных</b>
                            <p>7.1. Субъект персональных данных имеет право:</p>
                            <div class="about__list">
                                <ul>
                                    <li>на получение персональных данных, относящихся к данному субъекту, и информации, касающейся их обработки;</li>
                                    <li>на уточнение, блокирование или уничтожение его персональных данных в случае, если они являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;</li>
                                    <li>на отзыв данного им согласия на обработку персональных данных;</li>
                                    <li>на защиту своих прав и законных интересов, в том числе на возмещение убытков и компенсацию морального вреда в судебном порядке;</li>
                                    <li>на обжалование действий или бездействия Оператора в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке.</li>
                                </ul>
                            </div>
                            <p>7.2. Для реализации своих прав и законных интересов субъекты персональных данных имеют право обратиться к Оператору либо направить запрос лично или с помощью представителя. Запрос должен содержать сведения, указанные в ч. 3 CT. 14 ФЗ «О персональных данных».</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}