{% extends "base.html" %}

{% block app_content %}
        <main>
            <div class="container">
                <div class="controls">
                    <div class="controls__title">Адреса и телефоны контролирующих организаций</div>
                    <div class="controls__list">
                        <div class="controls__item">
                            <div class="controls__name">Министерство здравоохранения Краснодарского края</div>
                            <div class="controls__address">
                                <div class="controls__subtitle">Адрес:</div>
                                <div class="controls__text">350000, г. Краснодар, ул. Коммунаров, 276</div>
                            </div>
                            <div class="controls__phone">
                                <div class="controls__subtitle">Приемная министра:</div>
                                <div class="controls__text">(861) 992-52-91</div>
                            </div>
                            <div class="controls__phone">
                                <div class="controls__subtitle">Телефон «горячей линии»:</div>
                                <div class="controls__text">(800) 200-03-66</div>
                            </div>
                        </div>
                        <div class="controls__item">
                            <div class="controls__name">Управление Федеральной службы по надзору в сфере здравоохранения по Краснодарскому краю</div>
                            <div class="controls__address">
                                <div class="controls__subtitle">Адрес:</div>
                                <div class="controls__text">350059, г. Краснодар, ул. Васнецова, д. 39</div>
                            </div>
                            <div class="controls__phone">
                                <div class="controls__subtitle">Телефон «горячей линии»:</div>
                                <div class="controls__text">(861) 275-39-00</div>
                            </div>
                        </div>
                        <div class="controls__item">
                            <div class="controls__name">Управление Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по Краснодарскому краю</div>
                            <div class="controls__address">
                                <div class="controls__subtitle">Адрес:</div>
                                <div class="controls__text">350000, г. Краснодар, ул. Рашпилевская, д. 100</div>
                            </div>
                            <div class="controls__phone">
                                <div class="controls__subtitle">Телефон «горячей линии»:</div>
                                <div class="controls__text">(861) 267-26-64</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}