{% extends "base.html" %}

{% block app_content %}
        <main>
            <div class="container">
                <div class="contacts">
                    <div class="contacts__title">Контакты</div>
                    <div class="contacts__wrapper">
                        <div class="contacts__data">
                            <div class="contacts__row"><b>ООО«МЕДИНСКИЙ ЦЕНТР ЗАБОТА»</b></div>
                            <div class="contacts__row">
                                <div class="contacts__row-item"><b>ИНН&nbsp;</b>2312209185</div>
                                <div class="contacts__row-item"><b>КПП&nbsp;</b>231201001</div>
                                <div class="contacts__row-item"><b>ОГРН&nbsp;</b>1132312012403</div>
                            </div>
                            <div class="contacts__row">Лицензия No ЛО­23­01­008208 от 22 января 2015г</div>
                            <div class="contacts__row">
                                <div class="contacts__row-item"><b>Адрес&nbsp;</b>г. Краснодар, ул. Лавочкина, д. 13</div>
                                <div class="contacts__row-item"><b>тел.:&nbsp;</b>8928­418­41­28</div>
                            </div>
                            <div class="contacts__row">
                                <div class="contacts__row-item"><b>Режим работы:&nbsp;</b>без перерыва и выходных</div>
                            </div>
                        </div>
                        <div class="contacts__map"><iframe src="https://yandex.ru/map-widget/v1/-/CBFDA0Hs1D" frameborder="1" allowfullscreen="true"></iframe></div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}