{% extends "base.html" %}

{% block app_content %}
        <main>
            <div class="container">
                <div class="swiper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for promo in promotions %}
                                <div class="swiper-slide">
                                    <img src="{{ url_for('uploaded_file', filename=promo.image) }}">
                                    <div class="swiper__text">{{ promo.description }}</div>
                                </div>
                            {% endfor %}
<!--                            <div class="swiper-slide">-->
<!--                                <img src="{{ url_for('static', filename='images/loadscreen5.jpg') }}">-->
<!--                                <div class="swiper__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad-->
<!--                                    culpa esse, fugit illum ipsum necessitatibus nemo non obcaecati odit omnis-->
<!--                                    praesentium quibusdam reiciendis sequi sint voluptate. Laboriosam mollitia-->
<!--                                    numquam vero!</div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide">-->
<!--                                <img src="{{ url_for('static', filename='images/loadscreen6.jpg') }}">-->
<!--                                <div class="swiper__text">-->
<!--                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa esse, fugit illum-->
<!--                                    ipsum necessitatibus nemo non obcaecati odit omnis praesentium quibusdam reiciendis-->
<!--                                    sequi sint voluptate. Laboriosam mollitia numquam vero!</div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="promo">
                    <div class="promo__item"><img src="{{ url_for('static', filename='images/loadscreen5.jpg') }}">
                        <div class="promo__text">Для пациентов с подозрением на онкологию действует специальная цена
                            4 000 руб* на услуги КТ и МРТ.</div>
                    </div>
                    <div class="promo__item">
                        <img src="{{ url_for('static', filename='images/loadscreen6.jpg') }}">
                        <div class="promo__text">Наша гордость – это не только современное оборудование, новейшие
                            методики и лучшие материалы, прежде всего, это наши врачи.</div>
                    </div>
                    <div class="promo__item">
                        <iframe src="https://yandex.ru/map-widget/v1/-/CBFDA0Hs1D"
                                frameborder="1" allowfullscreen="true"></iframe>
                        <div class="promo__text">г. Краснодар, ул. Лавочкина, д. 13</div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
