{% extends "base.html" %}

{% block app_content %}
<main>
    <div class="container">
        <div class="about">
            <div class="about__title">Гарантии и лицензии</div>
            <div class="about__info">
                <div class="about__text about__text--full">
                    <p>Обращаясь в медицинский центр «Здоровье», вы можете быть уверены, что:</p>
                    <div class="about__list">
                        <ul>
                            <li>вам будет оказана квалифицированная медицинская помощь;</li>
                            <li>вам назначат весь необходимый объем диагностических и лечебных мероприятий;</li>
                            <li>все исследования выполняются только по назначению врача и при наличии направления, которое действительно в течение 1 месяца со дня его получения;</li>
                            <li>высокое качество нашего обслуживания не зависит от того, когда и к какому специалисту Вы пришли (вы можете рассчитывать на высокое качество обслуживания всегда);</li>
                            <li>мы стремимся понять ваши потребности и максимально их удовлетворить;</li>
                            <li>все наши сотрудники готовы прийти вам на помощь и ответить на любые ваши вопросы;</li>
                            <li>мы ценим ваше время и делаем все для того, чтобы вы получили необходимые медицинские услуги как можно скорее.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about__license">
                <div class="about__title">Наши лицензии</div>
                    <div class="about__fancybox">
                        {% for scan in scans %}
                            <a data-fancybox="gallery" href="{{ url_for('uploaded_file', filename=scan.scan) }}" class="about__fancy">
                                <img src="{{ url_for('uploaded_file', filename=scan.scan) }}">
                            </a>
<!--                                <a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy">-->
<!--                                    <img src="./images/d-logo.png">-->
<!--                                </a>-->
<!--                                <a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy">-->
<!--                                    <img src="./images/d-logo.png">-->
<!--                                </a>-->
<!--                                <a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy">-->
<!--                                    <img src="./images/d-logo.png">-->
<!--                                </a>-->
<!--                                <a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy">-->
<!--                                    <img src="./images/d-logo.png">-->
<!--                                </a>-->
<!--                                <a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy">-->
<!--                                    <img src="./images/d-logo.png">-->
<!--                                </a>-->
<!--                                <a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy">-->
<!--                                    <img src="./images/d-logo.png"></a><a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy"><img src="./images/d-logo.png"></a><a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy"><img src="./images/d-logo.png"></a><a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy"><img src="./images/d-logo.png"></a><a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy"><img src="./images/d-logo.png"></a><a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy"><img src="./images/d-logo.png"></a><a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy"><img src="./images/d-logo.png"></a><a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy"><img src="./images/d-logo.png"></a><a data-fancybox="gallery" href="./images/d-logo.png" class="about__fancy"><img src="./images/d-logo.png"></a>-->
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}