{% extends "base.html" %}

{% block app_content %}
        <main>
            <div class="container">
                <div class="partners">
                    {% for partner in partners %}
                    <a href="#" class="partners__item">
                        <img src="{{ url_for('uploaded_file', filename=partner.image) }}">
                    </a>
<!--                    <a href="#" class="partners__item">-->
<!--                        <img src="./images/d-logo.png">-->
<!--                    </a>-->
<!--                    <a href="#" class="partners__item">-->
<!--                        <img src="./images/d-logo.png">-->
<!--                    </a>-->
<!--                    <a href="#" class="partners__item">-->
<!--                        <img src="./images/d-logo.png">-->
<!--                    </a>-->
<!--                    <a href="#" class="partners__item">-->
<!--                        <img src="./images/d-logo.png">-->
<!--                    </a>-->
<!--                    <a href="#" class="partners__item"><img src="./images/d-logo.png"></a><a href="#" class="partners__item"><img src="./images/d-logo.png"></a><a href="#" class="partners__item"><img src="./images/d-logo.png"></a><a href="#" class="partners__item"><img src="./images/d-logo.png"></a>-->
                    {% endfor %}
                    </div>
                </div>
        </main>
{% endblock %}