{% extends "base.html" %}

{% block app_content %}
<main>
    <div class="container">
        <div class="services">
            <div class="services__title">Услуги</div>
            <div class="switch">
                <div class="switch__elements">
                    <div class="switch__button">Прием у врача</div>
                    <div class="switch__button">Обследования</div>
                </div>
                <div class="switch__content">

                        <div class="switch__block">
                            <div class="services__list">
                                <ul>
                                    {% for service in services %}
                                        {% if service.doctor_id is not none %}
                                            <li>{{ service.name }} - <b>{{ service.price }}</b> </li>
    <!--                                    <li>Желчный пузырь с функцией сократимости</li>-->
    <!--                                    <li>Желчный пузырь</li>-->
    <!--                                    <li>Желудок ,кишечник</li>-->
    <!--                                    <li>Забрюшинные лимфатические сосуды</li>-->
    <!--                                    <li>Матка и придатки ( трансобдоминально и трансвагинально)</li>-->
    <!--                                    <li>Молочные железы с зонами лимфооттока</li>-->
    <!--                                    <li>Мочевой пузырь с определением остаточного объема</li>-->
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="switch__block">
                            <div class="services__list">
                                <h2>Перечень ультразвуковых исследований</h2>
                                <ul>
                                    {% for service in services %}
                                        {% if service.doctor_id is none %}
                                            <li>{{ service.name }} - <b>{{ service.price }}</b> </li>
<!--                                    <li>Вилочковая железа( дети)</li>-->
<!--                                    <li>Желчный пузырь с функцией сократимости</li>-->
<!--                                    <li>Желчный пузырь</li>-->
<!--                                    <li>Желудок ,кишечник</li>-->
<!--                                    <li>Забрюшинные лимфатические сосуды</li>-->
<!--                                    <li>Матка и придатки ( трансобдоминально и трансвагинально)</li>-->
<!--                                    <li>Молочные железы с зонами лимфооттока</li>-->
<!--                                    <li>Мочевой пузырь с определением остаточного объема</li>-->
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
