{% extends "base.html" %}

{% block app_content %}
        <main>
            <div class="container">
                <div class="staff">
                    <div class="staff__title">Наши специалисты</div>
                    <div class="staff__list">
                        {% for doctor in doctors %}
                            <div class="staff__item">
                                <div class="staff__photo"><img src="{{ url_for('uploaded_file', filename=doctor.image) }}"></div>
                                <div class="staff__name">{{ doctor.name }}</div>
                                <div class="staff__job">{{ doctor.description }}</div>
                                <div class="staff__exp">стаж:<b>{{ doctor.experience }}</b></div>
                            </div>
                        {% endfor %}
<!--                        <div class="staff__item">-->
<!--                            <div class="staff__photo"><img src="./images/loadscreen.jpg"></div>-->
<!--                            <div class="staff__name">Имечко Фамилия</div>-->
<!--                            <div class="staff__job">Врач аллерголок, иммунолог</div>-->
<!--                            <div class="staff__exp">стаж:<b>5 лет</b></div>-->
<!--                        </div>-->
<!--                        <div class="staff__item">-->
<!--                            <div class="staff__photo"><img src="./images/loadscreen.jpg"></div>-->
<!--                            <div class="staff__name">Имечко Фамилия</div>-->
<!--                            <div class="staff__job">Врач аллерголок, иммунолог</div>-->
<!--                            <div class="staff__exp">стаж:<b>5 лет</b></div>-->
<!--                        </div>-->
<!--                        <div class="staff__item">-->
<!--                            <div class="staff__photo"><img src="./images/loadscreen.jpg"></div>-->
<!--                            <div class="staff__name">Имечко Фамилия</div>-->
<!--                            <div class="staff__job">Врач аллерголок, иммунолог</div>-->
<!--                            <div class="staff__exp">стаж:<b>5 лет</b></div>-->
<!--                        </div>-->
<!--                        <div class="staff__item">-->
<!--                            <div class="staff__photo"><img src="./images/loadscreen.jpg"></div>-->
<!--                            <div class="staff__name">Имечко Фамилия</div>-->
<!--                            <div class="staff__job">Врач аллерголок, иммунолог</div>-->
<!--                            <div class="staff__exp">стаж:<b>5 лет</b></div>-->
<!--                        </div>-->
<!--                        <div class="staff__item">-->
<!--                            <div class="staff__photo"><img src="./images/loadscreen.jpg"></div>-->
<!--                            <div class="staff__name">Имечко Фамилия</div>-->
<!--                            <div class="staff__job">Врач аллерголок, иммунолог</div>-->
<!--                            <div class="staff__exp">стаж:<b>5 лет</b></div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
