{% extends "base.html" %}

{% block app_content %}
<main>
    <div class="container">
        <div class="stock">
            {% for promo in promotions %}
                <div class="stock__item">
                    <div class="stock__image"><img src="{{ url_for('uploaded_file', filename=promo.image) }}"></div>
                    <div class="stock__title">{{ promo.name }}</div>
                    <div class="stock__text">{{ promo.description }}</div>
                </div>
            {% endfor %}
<!--            <div class="stock__item">-->
<!--                <div class="stock__image"><img src="./images/loadscreen5.jpg"></div>-->
<!--                <div class="stock__title">Заголовок акции</div>-->
<!--                <div class="stock__text">Текст акции</div>-->
<!--            </div>-->
<!--            <div class="stock__item">-->
<!--                <div class="stock__image"><img src="./images/loadscreen5.jpg"></div>-->
<!--                <div class="stock__title">Заголовок акции</div>-->
<!--                <div class="stock__text">Текст акции</div>-->
<!--            </div>-->
<!--            <div class="stock__item">-->
<!--                <div class="stock__image"><img src="./images/loadscreen5.jpg"></div>-->
<!--                <div class="stock__title">Заголовок акции</div>-->
<!--                <div class="stock__text">Текст акции</div>-->
<!--            </div>-->
<!--            <div class="stock__item">-->
<!--                <div class="stock__image"><img src="./images/loadscreen5.jpg"></div>-->
<!--                <div class="stock__title">Заголовок акции</div>-->
<!--                <div class="stock__text">Текст акции</div>-->
<!--            </div>-->
        </div>
    </div>
</main>
{% endblock %}
